#container {
  display: flex;
}

#sidebar {
  width: 200px;
  height: 100vh; /* Set height to full viewport height */
  overflow-y: auto; /* Enable scrollbar if needed */
  border-right: 1px solid #ccc;
}

#workspace {
  flex-grow: 1; /* Fill remaining space in the container */
  height: 100vh; /* Set height to full viewport height */
}
